.field{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url("../../assets/img/board.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-stack{
    position: relative;
    img{
        width: 120px;
        position:absolute;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover{
        transform: scale(1.1) translate(-5px);

    }
}

.played-card{
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
        right: 25px;
}

.pick-card{
    animation: pick-card-animation 1s ease-in-out; 
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1) ;
    }
    40% {
        transform: scale(1.7) ;
    }
    60% {
        transform: scale(1.7) ;
    }
    100% {
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg)
    }
}

.player-position {
    position: absolute;
    z-index: 1;
}

.btn-add{
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom{
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;

    @media (max-width: 720px) {
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.scroll-container{
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
        >app-player-mobile{
            margin-left: 8px;
            margin-right: 0;
       }
}

app-player, app-player-mobile{
    cursor: pointer;
    
    &:hover{
        filter: brightness(1.15);
        }

}

.gameOver{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../../assets/img/board.jpg");
    img{
        width: 300px;
        align-items: center;
        align-self: center;
    }
}

